/* css 규칙

1. 위치(다른 element와의 관계, 위치), margin
2. width
3. height
4. text-align
5. font-size
6. border
7. color
8. cursor */


/* #header{
    position: absolute;
    top: 0 auto;
    width: max-content;
    height: 50px auto;
    
} */